.app {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  height: 100%;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
  padding-bottom: 40px;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 912px;
  margin: 0 auto;
  overflow: hidden;
}
